:root {
  --laranja: #f60;
  --laranja-degrade1: #ff645e;
  --laranja-degrade2: #ff9253;
  --marrom-borda: #993c38;
  --azul-escuro: #112e61;
  --roxo-destaque: #7a40be;
  --cinza-background-gratuito: #e7e7e7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "montserrat", sans-serif;
  color: #404040;
  font-size: 1.6rem;
  line-height: 1.4;
}

ul {
  list-style: none;
}

.secao {
  padding: 7.6rem 2rem;
}

.container {
  max-width: 100rem;
  margin: auto;
}

.botao {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 3rem;
  padding: 0.5rem 5rem;
  color: white;
  box-shadow: 0.4rem 0.4rem 0.6rem 0.1rem rgba(0, 0, 0, 0.164);
  text-align: center;
}
