@media all and (max-width: 47.93em) {
  html {
    font-size: 43.75%;
  }

  /* CABECALHO */

  .cabecalho {
    position: relative;
    & img {
      width: 10rem;
    }

    &.aberto {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.95);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: auto;
      backdrop-filter: blur(1rem);

      & img {
        display: none;
      }

      & .menu-cabecalho {
        display: flex;
        flex-flow: column;
        text-align: center;

        & .contem-filhos {
          &:hover .menu-cabecalho-filho {
            display: none;
          }
          &.aberto {
            display: flex;
            flex-flow: column;
            gap: 2.8rem;

            & .menu-cabecalho-filho {
              display: flex;
              position: static;
              box-shadow: none;
              text-align: start;
              list-style: disc;
              background-color: transparent;
              gap: 0.8rem;

              & li {
                border-bottom: none;
                padding-top: 0;
              }
            }

            &::after {
              content: none;
            }
          }
        }
      }

      & .nav-icones {
        position: absolute;
        top: 2rem;
        right: 2rem;

        & .icone-menu {
          display: none;
        }

        & .icone-close {
          display: block;
        }
      }
    }

    & .menu-cabecalho {
      display: none;
    }

    & .nav-icones {
      display: block;
      color: var(--azul-escuro);

      & .icone-menu {
        /* display: none; */
      }

      & .icone-close {
        display: none;
      }
    }
  }

  /* SECAO HERO */

  .hero-secao {
    background-image: url(/imagens/BACKGROUN-banner-01-mobile.png);
    & .container.hero {
      flex-flow: column;
      & .primeira-coluna-hero {
        align-items: center;
        text-align: center;
        padding: 0.6rem 3.2rem;

        & .botoes-hero {
          flex-flow: row wrap;
          justify-content: center;
        }
      }
    }
  }

  /* CONTEUDO GRATUITO */

  .gratuito-secao {
    background-image: url(https://uploads-ssl.webflow.com/61b9e0dd381626819c8d4f83/6500ece03c16520e44ba5837_bg-conteudos-mobile.png);
    background-size: auto;
    background-position-y: bottom;
    background-color: white;
    padding-top: 3rem;

    & .gratuito {
      padding: 4rem 2rem;
      flex-flow: column;

      & .morckup-pc-gratuito {
        left: 0;
      }

      & .segunda-coluna-gratuito {
        order: -1;
        align-items: center;

        & .titulo-gratuito-h2 {
          max-width: 42.5rem;
          & h2 {
            font-size: 2.8rem;
          }
        }
      }
    }
  }

  /* SECAO DIFERENCIAIS */

  .container-diferenciais-azul {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .container-azul__h2 {
    text-align: center;
    border-left: none;
    border-bottom: solid 0.4rem #ffb20f;
  }

  .container-azul__p {
    text-align: center;
  }

  .container-diferenciais-blocos {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 9rem;
    padding: 1rem 2.5rem;
    top: -6rem;
  }

  /* SECAO O QUE FALAM */

  .oqfalam-container {
    gap: 2vw;
  }

  .oqfalam-titulo {
    align-items: center;
    text-align: center;
    letter-spacing: 0.16rem;
    line-height: 1.2;
  }

  .oqfalam__h2 {
    max-width: 31rem;
  }

  .oqfalam-carrossel-videos {
    max-width: 100%;
    gap: 1.82vw;
  }

  .oqfalam-carrossel__video {
    /* min-width: calc(calc(100% - 1.82vw) / 2); */
  }

  .oqfalam-carrossel__seta-esquerda {
    width: 5.6vw;
  }

  .oqfalam-carrossel__seta-direita {
    width: 5.6vw;
  }

  /* SECAO NA MIDIA */

  .namidia-container {
    flex-flow: column;
    align-items: center;
  }

  /* SECAO BLOG */

  .blog-container {
    grid-template-columns: 1fr;
    gap: 3.5vw;
    max-width: 78.57rem;
  }

  /* SECAO RODAPE */
}
