@media all and (max-width: 30em) {
  /* SECAO HERO */

  .hero-botao {
    padding: 0.5rem 3rem;
  }

  /* CONTEUDO GRATUITO */

  .gratuito-secao {
    padding-top: 2rem;

    & .gratuito {
      & .morckup-pc-gratuito {
      }

      & .segunda-coluna-gratuito {
        display: flex;
        flex-flow: column;
        gap: 5rem;
        align-items: center;

        & .titulo-gratuito-h2 {
          text-align: center;

          & h2 {
          }
        }

        & .caixas-gratuito {
          display: flex;
          flex-flow: wrap;
          gap: 6rem;
          justify-content: center;

          & .caixa-cursos {
            & .titulo-h3 {
            }

            & .bolas-cursos {
              & .bola-curso {
                & img {
                }
              }
            }

            & .links-cursos-gratuitos {
              & li {
                & img {
                }

                & a {
                  &:hover {
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* SECAO DIFERENCIAIS */

  .container-diferenciais-empresas-logos {
    max-width: 55rem;
  }

  /* SECAO O QUE FALAM */

  .oquefalam-container {
    margin: 0 5.6rem;
  }

  .oquefalam__titulo {
    flex-flow: column;
  }

  .oquefalam-carrossel-img {
    min-width: 100%;
  }

  .oquefalam-seta {
    max-width: 5rem;
  }

  .oquefalam-botao {
    padding: 0.5rem 2rem;
  }

  /* SECAO NA MIDIA */

  .namidia-logos {
    max-width: 35rem;
  }

  .namidia-logo__link {
    & img {
      max-width: 100%;
    }
  }

  /* SECAO BLOG */

  .blog-container-titulo {
    width: 78.125vw;
  }

  /* SECAO AJUDAR */

  .ajudar-amarelo-container-titulo__h2 {
    text-align: center;
  }

  /* SECAO MINICURSO */

  .minicurso-secao {
    padding: 3.6rem 2rem;
  }

  .minicurso-formulario {
    grid-template-columns: 1fr;
    max-width: 35rem;
    width: 100%;
    align-self: center;
    gap: 2.5rem;
  }

  .minicurso-botao {
    justify-self: center;
  }

  /* SECAO RODAPE */

  .rodape-container {
    row-gap: 4rem;
    grid-template-columns: 1fr auto;
    column-gap: 0;
  }

  .rodape__logo-hashtag {
    grid-column: 1;
    grid-row: 1;
    width: 14rem;
  }

  .rodape-coluna {
    text-align: center;
    align-items: center;
    grid-row: none;
    max-width: 44rem;
  }

  .rodape-copyright {
    grid-row: 4;
    grid-column: auto;
  }

  .rodape-form-newsletter {
    grid-column: 1;
    grid-row: 3;
  }
}
