@media all and (max-width: 30em) {
  /* CONTEUDO GRATUITO */

  .gratuito-secao {
    padding-top: 2rem;

    & .caixas-gratuito {
      display: flex;
      gap: 6rem;
      flex-flow: wrap;
      justify-content: center;
    }
  }

  /* SECAO DIFERENCIAIS */

  .container-diferenciais-empresas-logos {
    max-width: 55rem;
  }

  /* SECAO MINICURSO */

  .minicurso-formulario {
    grid-template-columns: 1fr;
    max-width: 35rem;
    width: 100%;
    align-self: center;
    gap: 2.5rem;
  }

  .minicurso-botao {
    justify-self: center;
  }
}
